<!DOCTYPE html>
<html lang="en">

{% load static %}
{% include 'utils/head_dependencies.html' %}

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>

<div class="container">
    <div class="bg-light border text-center d-flex align-items-center justify-content-center flex-column"
         style="height: 100vh">

        <div>
            <div class="display-2">Restaurant manager</div>
            <div class="display-5">Projekt BD2</div>
            <hr style="width: 100%">
        </div>

        <div class="d-flex p-3 gap-3">
            {% for nav_item in nav_items %}
                <a class="btn btn-lg btn-primary text-white border"
                   href="{{ nav_item.url_path }}">{{ nav_item.name|upper }}</a>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>